@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap");

:root {
  --primary: #000000e4;
  --secondary: #f0f0f0;
  --border: #fcddec;
  --text-color: #000000;
  --shadow-color: rgba(0, 0, 0, 0.36);
  --gradient-start: #31b6c25a;
  --gradient-end: #7bc3935c;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: "Poppins", sans-serif;
}

.background {
  background-image: url(img1.gif);
  height: 100vh;
  width: 100%;
  background-repeat: no-repeat;
  background-size: cover;
  display: grid;
  place-items: center;
}

.box {
  background: linear-gradient(135deg, var(--gradient-start), var(--gradient-end));
  border-width: 0px 2px 1px 0px;
  border-style: solid;
  border-color: var(--border);
  box-shadow: 0px 19px 41px var(--shadow-color);
  border-radius: 20px;
  height: 320px;
  width: 600px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 50px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.box:hover {
  transform: translateY(-10px);
  box-shadow: 0px 25px 50px rgba(205, 207, 215, 0.4);
}

.box h2 {
  font-weight: 700;
  font-size: 32px;
  line-height: 48px;
  color: var(--text-color); /* Text color for h2 */
  transition: color 0.3s ease;
}

.box h2:hover {
  color: #18f02a;
}

.box h3 {
  font-weight: 600;
  font-size: 30px;
  line-height: 54px;
  color: var(--text-color); /* Text color for h3 */
  transition: color 0.3s ease;
}

.box h3:hover {
  color: #ffffff;
}

#questionForm {
  display: flex;
  flex-direction: column;
  gap: 20px;
  width: 100%;
}

#answerInput {
  background: transparent;
  border: 1px solid var(--text-color);
  border-radius: 5px;
  padding: 10px 20px;
  font-size: 20px;
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

#answerInput:focus-visible {
  outline: 1px solid var(--primary);
  border: 1px solid var(--primary);
  box-shadow: 0px 0px 10px rgb(0, 0, 0);
}

.primary-btn {
  height: 46px;
  background-color: var(--primary);
  border-radius: 10px;
  border: none;
  color: white;
  font-size: 32px;
  cursor: pointer;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.primary-btn:hover {
  background-color: #ff5500;
  transform: translateY(-5px);
}

.primary-btn:active {
  transform: translateY(0);
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.2);
}

@media (max-width: 786px) {
  .box {
    width: 80%;
    height: 360px;
    padding: 20px;
  }
  .box h2 {
    font-size: 28px;
    line-height: 40px;
    color: var(--text-color); /* Ensure text color is applied in smaller screens */
  }
  .box h3 {
    font-size: 24px;
    line-height: 32px;
  }
  #answerInput {
    padding: 5px 20px;
  }
  .primary-btn {
    font-size: 24px;
    height: 36px;
  }
}
